
.search-events-background {
    background-image: url('../../assets/llama-search-banner.webp'); /* Update path as necessary */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0; /* Adjust padding to ensure it encompasses your form adequately */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #7c1d1d !important; /* Ensures the color applies over Bootstrap defaults */
    background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black background */
    border-radius: 50% !important; /* Circular background */
    width: 40px; /* Ensures the size is sufficient */
    height: 40px; /* Ensures the size is sufficient */
    display: flex !important; /* Ensures flex display mode for centering */
    align-items: center !important; /* Center alignment of the icon vertically */
    justify-content: center !important; /* Center alignment of the icon horizontally */
}
