/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bodyColor:#f9f1e9;
  padding: 4px;
}
body {
  background: #f9f1e9;

}

nav {
  background: #f9f1e9;  /* fallback for old browsers */
  flex-direction: row;
  gap: 40px;
}

.map-container {
    height: 500px;
  }
   
.sidebar {
  background-color: rgba(133, 154, 175, 0.9);
  color: "#fff";
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: sticky;
  top: 6px;
  left: 0;
  border-radius: 4px;
}