.homepage-header-text {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 1rem;
  }
  
  .homepage-subtext {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin-top: 2px;
  }